extends layout

block content
  body(style='background-color:powderblue;')
    center()
      h3(style='text-transform: uppercase;') Enregistrer votre adresse 
    
      i.fa.fa-info-circle(aria-hidden='true')
      |  Bienvenue !
      p Enregistrez votre parking sur Placetopark.
      p La location de parking zéro contraintes ! 😍
      
      
        form#form(action="/adresses/create" method="post")
          .mb-3
            label.form-label(for="nomInput") Entrez le nom de la rue:
            input#nomInput.form-control(type="text", name="nom")
          br
          .mb-3
            label.form-label(for="numeroInput") Entrez le numéro de la rue:
            input#nuImeronput.form-control(type="number", name="numero")
          br
          .mb-3
            label.form-label(for="communeId") Commune: 
            select#communeId(name="communeId")
              each commune in communes
                option(value=commune.id) #{commune.nom}, #{commune.codePostal}
          br
          .mb-3
            button.btn.btn-primary(type="submit") Save
              i.fa.fa-save
            | &nbsp;
            button.btn.btn-primary
              a.btn.btn-outline-danger(href="/adresses") Cancel
              i.fa.fa-window-close