extends layout 

block content 
  if user
   .menu-bar
      ul
        li
          a(href="/parkings/create" class={active: currentUrl === "/parkings/create/new"}) 
            i.fa.fa-save
            |  Enregistrer son parking
        li
          a(href="/locations/create" class={active: currentUrl === "/locations/create/new"}) 
            i.fa.fa-ticket
            |  Faire une location
        li
          a(href='/reservations')
            i.fa.fa-ticket
            |  Faire une réservation
          .sub-menu-1
            ul
              li.hover-me
                a(href='')
                | Profil
                i.fa.fa-angle-right
                .sub-menu-2
                  ul
                    li
                      a(href='/account') Profil
                    li
                      a(href='') Mes reservations
                    li
                      a(href='/mesParkings') Mes parkings
                    li
                      a(href='') Dashboard
              li
                a(href='') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/publications')
            i.fa.fa-newspaper-o
            |  Publications
        li.active
          a(href='')
            i.fa.fa-user
            |  #{user.username}
          .sub-menu-1
            ul
              li
                a(href='/account') Profil
              li
                a(href='') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/logout')
            i.fa.fa-sign-out
            |  Se d&eacute;connecter