extends layout

block content

  if user
    .menu-bar
      ul
        li
          a(href="/adresses/create" class={active: currentUrl === "/adresses/create/new"}) 
            i.fa.fa-save
            |  Enregistrer son parking
        li
          a(href="/tarifs" class={active: currentUrl === "/tarifs"}) 
            i.fa.fa-ticket
            |  Faire une reservation
        li
           a(href="/reservations" class={active: currentUrl === "/reservations"})
            i.fa.fa-ticket
            |  Faire une location
        li
          a(href='/publications')
            i.fa.fa-newspaper-o
            |  Publications
        li.active
          a(href='')
            i.fa.fa-user
            |  #{user.username}
          .sub-menu-1
            ul
              li
                a(href='/account') Profil
              li
                a(href='/reservations/:userId/all') Mes reservations
              li
                a(href='parkings/:userId/all') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/logout')
            i.fa.fa-sign-out
            |  Se d&eacute;connecter

  h1= message
  h2= error.status
  pre #{error.stack}
