extends layout

block content
  //- h1= title
  if !user
    section#banner
      img.logo(src='images/default-monochrome.svg' alt='placetopark')
      .banner-text
        h1 PlaceToPark
        p Partager votre parking et gagner de l&apos;argent
        .banner-btn
          a(href="/adresses/create" class={active: currentUrl === "/adresses/create/new"}) 
            span
            | Proposer votre parking
          a(href="/adresses/create" class={active: currentUrl === "/adresses/create/new"}) 
            span
            | Louer un parking
    #sideNav
      nav
        ul
          li
            a(href='#banner') ACCUEIL
          li
            a(href='#feature') FONCTIONNALITES
          li
            a(href='#service') SERVICES
          li
            a(href='#testimonial') PUBLICATIONS
          li
            a(href='#footer') CONTACT
    #menuBtn
      img#menu(src='images/menu1.png' alt='menu')
    // -FONCTIONNALITES/features
    section#feature
      .title-text
        p FONCTIONNALITES
        h1 Pourquoi nous choisir
      .feature-box
        .features
          h1 Parking garanti
          .features-desc
            .feature-icon
              i.fa.fa-shield
            .feature-text
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Ut eius ipsum deleniti illum sunt soluta, exercitationem
                | quia porro vel distinctio, non cum quibusdam dolore quas facere,
                | commodi sapiente aliquam! Quis.
          h1 Reservation en ligne
          .features-desc
            .feature-icon
              i.fa.fa-check-square-o
            .feature-text
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Ut eius ipsum deleniti illum sunt soluta, exercitationem
                | quia porro vel distinctio, non cum quibusdam dolore quas facere,
                | commodi sapiente aliquam! Quis.
          h1 Prix abordable
          .features-desc
            .feature-icon
              i.fa.fa-euro
            .feature-text
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Ut eius ipsum deleniti illum sunt soluta, exercitationem
                | quia porro vel distinctio, non cum quibusdam dolore quas facere,
                | commodi sapiente aliquam! Quis.
        .features-img
          img(src='images/images (8).jpg' alt='')
    // -Services
    section#service
      .title-text
        p SERVICES
        h1 Nous offrons mieux
      .service-box
        .single-service
          img(src='images/images (2).jpg' alt='')
          .overlay
          .service-desc
            h3 Parking &agrave; Louer
            hr
            p Lorem ipsum dolor sit amet.
        .single-service
          img(src='images/images (3).jpg' alt='')
          .overlay
          .service-desc
            h3 Parking &agrave; Louer
            hr
            p Lorem ipsum dolor sit amet.
        .single-service
          img(src='images/images (4).jpg' alt='')
          .overlay
          .service-desc
            h3 Parking &agrave; Louer
            hr
            p Lorem ipsum dolor sit amet.
        .single-service
          img(src='images/images (9).jpg' alt='')
          .overlay
          .service-desc
            h3 Parking &agrave; Louer
            hr
            p Lorem ipsum dolor sit amet.
    // publications
    section#testimonial
      .title-text
        p PUBLICATIONS
        h1 Proposition de parkings
      .testimonial-row
        .testimonial-col
          .user
            img(src='images/images (4).jpg' alt='')
            .user-info
              h4
                | ANNETTE KOUMWEI 
                i.fa.fa-twitter
              small @annettek
          p
            | Lorem ipsum dolor sit amet,
            | consectetur adipisicing elit. Maxime, vel.
        .testimonial-col
          .user
            img(src='images/images (4).jpg' alt='')
            .user-info
              h4
                | ROMUALD MOMBEL 
                i.fa.fa-twitter
              small @romualdm
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            | Consectetur laborum perspiciatis assumenda totam voluptatem impedit.
        .testimonial-col
          .user
            img(src='images/images (4).jpg' alt='')
            .user-info
              h4
                | VERLAINE KOUWE 
                i.fa.fa-twitter
              small @verlainek
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            | Ipsam, odio?
    section#footer
      img.footer-img(src='images/images (6).jpg' alt='')
      .title-text
          p CONTACT
          h1 Visiter le Site Web Aujourd&apos;hui
      .footer-row
          .footer-left
            h1 Horaires
            p
              i.fa.fa-clock-o
              |  Lundi &agrave; Vendredi: 9H00 &agrave; 18H00
            p
              i.fa.fa-clock-o
              |  Samedi et Dimanche: 12H00 &agrave; 16H00
          .footer-right
            h1 Contactez Nous
            p
              | impasse de picardie 3, 1348 louvain-la-neuve 
              i.fa.fa-map-marker
            p
              | verly@yopmail.com 
              i.fa.fa-paper-plane
            p
              | +32 465 82 98 74 
              i.fa.fa-phone
      .social-links
          i.fa.fa-facebook
          i.fa.fa-instagram
          i.fa.fa-twitter
          i.fa.fa-youtube-play
          p Copyright KOUWE Verlaine

    script.
      var menuBtn = document.getElementById("menuBtn")
      var sideNav = document.getElementById("sideNav")
      var menu = document.getElementById("menu")
      sideNav.style.right = "-250px";
      menuBtn.onclick = function(){
      if (sideNav.style.right == "-250px") {
      sideNav.style.right = "0";
      menu.src = "images/close.png";
      } else {
      sideNav.style.right = "-250px";
      menu.src = "images/menu1.png";
      }
      }
      var scroll = new SmoothScroll('a[href*="#"]', {
      speed: 1000,
      speedAsDuration: true
      });

  if newlyAuthenticated
    .menu-bar
      ul
        li
          a(href="/adresses/create" class={active: currentUrl === "/adresses/create/new"}) 
            i.fa.fa-save
            |  Enregistrer son parking
        li
          a(href="/parkings" class={active: currentUrl === "/parkings"}) 
            i.fa.fa-ticket
            |  Faire une reservation
        li
           a(href="/roles" class={active: currentUrl === "/roles"})
            i.fa.fa-ticket
            |  Faire une location
        li
          a(href='/publications')
            i.fa.fa-newspaper-o
            |  Publications
        li.active
          a(href='')
            i.fa.fa-user
            |  #{user.username}
          .sub-menu-1
            ul
              li
                a(href='/account') Profil
              li
                a(href='/mesReservations') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/logout')
            i.fa.fa-sign-out
            |  Se d&eacute;connecter
    center
      p
        | Bienvenu 
        em
          b #{user.username}!,
        br
        |  heureux de te voir ! &#128521;
    //- .alert.alert-success.alert-dismissible.fade.show Hello #{user.username}!
      //- button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")