doctype html
head
    title #{title}
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title PlaceToPark
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel='stylesheet' href='stylesheets/style1.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    block scripts
      script(src='https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js')

body
    block content
        

    block foot
        // -FOOTER
        section#footer
        img.footer-img(src='images/images (6).jpg' alt='')
        .title-text
            p CONTACT
            h1 Visiter le Site Web Aujourd&apos;hui
        .footer-row
            .footer-left
            h1 Horaires
            p
                i.fa.fa-clock-o
                |  Lundi &agrave; Vendredi: 9H00 &agrave; 18H00
            p
                i.fa.fa-clock-o
                |  Samedi et Dimanche: 12H00 &agrave; 16H00
            .footer-right
            h1 Contactez Nous
            p
                | impasse de picardie 3, 1348 louvain-la-neuve 
                i.fa.fa-map-marker
            p
                | verly@yopmail.com 
                i.fa.fa-paper-plane
            p
                | +32 465 82 98 74 
                i.fa.fa-phone
        .social-links
            i.fa.fa-facebook
            i.fa.fa-instagram
            i.fa.fa-twitter
            i.fa.fa-youtube-play
            p Copyright KOUWE Verlaine
