extends layout

block content

  if user
    .menu-bar
      ul
        li.active
          a(href='#')
            i.fa.fa-home
            |  Accueil
        li
          a(href='')
            i.fa.fa-ticket
            |  Reserver un parking
          .sub-menu-1
            ul
              li.hover-me
                a(href='')
                | Profil
                i.fa.fa-angle-right
                .sub-menu-2
                  ul
                    li
                      a(href='/account') Profil
                    li
                      a(href='') Mes reservations
                    li
                      a(href='') Mes parkings
                    li
                      a(href='') Dashboard
              li
                a(href='') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/publications')
            i.fa.fa-newspaper-o
            |  Publications
        li
          a(href='')
            i.fa.fa-save
            |  Enregistrer son parking
        li
          a(href='')
            i.fa.fa-user
            |  #{user.username}
          .sub-menu-1
            ul
              li
                a(href='/account') Profil
              li
                a(href='') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/logout')
            i.fa.fa-sign-out
            |  Se d&eacute;connecter

  h1= title
  form(action="/locations/create", method="post")
    .mb-3
      label(for="date_DebutInput") Date de début:
        input#date_Debut(type='date', name='date_Debut', value='2021-01-02', min='2021-01-01', max='2050-12-31')
    .mb-3
      label(for="date_FinInput") Date de Fin:
        input#date_Fin(type='date', name='date_Fin', value='2021-01-02', min='2021-01-01', max='2050-12-31')
    .mb-3
      label(for="heure_FinInput") Heure de Fin:
        input#heure_Fin(type='time', name='heure_Fin', value='09:00', min='00:00', max='23:59')
    .mb-3
      button.btn.btn-primary(type="submit") Save
      | &nbsp;
      a.btn.btn-outline-danger(href="/ligneFactures") Cancel
