extends layout

block content
  //- h1= title
  if authenticationFailed
    .alert.alert-warning.alert-dismissible.fade.show Wrong username or password.
      button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")
    if passwordMismatch
    .alert.alert-warning.alert-dismissible.fade.show Les deux mots de passe ne sont pas identiques.
      button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")

  if compteCree
    .alert.alert-primary.alert-dismissible.fade.show Compte créé avec succès.
      button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")
  .container
    .card
      #card.inner-box
        .card-front
          h2 LOGIN
          form(action="/login", method="post")
            input.input-box(type='text' name='username' id='' placeholder='Votre identifiant' required='')
            input.input-box(type='password' name='password' id='' placeholder='Votre mot de passe' required='')
            button.submit-btn(type='submit') Envoyer
            input(type='checkbox' name='' id='')
            span Se souvenir de Moi
          button.btn(type='button' onclick='openRegister()') Je suis nouveau ici!
          a(href='http://') Mot de Passe oubli&eacute;
        .card-back
          h2 Cr&eacute;er Compte
          form(action="/signup", method="post")
            input.input-box(name='username' type='text' placeholder='Votre Identifiant' required='')
            input.input-box(type='password' name='password' id='' placeholder='Votre mot de passe' required='')
            input.input-box(type='password' name='password2' id='' placeholder='Confirmer votre mot de passe' required='')
            input.input-box(type='email' name='usermail' id='' placeholder='Votre email' required='')
            input.input-box(type='text' name='nom' placeholder='Votre Nom' required='')
            input.input-box(type='text' name='prenom' placeholder='Votre Prénom' required='')
            input.input-box(type='text' name='telephone' placeholder="0456-451-678" required='')
            //- input.input-box(type='text' name='telephone' placeholder="0456-451-678" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required='')
            label.form-label(for="roleName") Client ou propriétaire: 
              select#roleName(name="roleName")
                option(value='') Sélectionner un role
                option(value='proprietaire') Propriétaire
                option(value='client') Client
            button.submit-btn(type='submit') Créer
          button.btn(type='button' onclick='openLogin()') J&apos;ai d&eacute;j&agrave; un compte!
  
  script.
    var card = document.getElementById("card");
    function openRegister(){
    card.style.transform = "rotateY(-180deg)";
    }
    function openLogin(){
    card.style.transform = "rotateY(0deg)";
    }
