extends layout

block content

  h1 Détails du parking
  p Adresse: #{parking.adresse.nom}
  p Nombre de places dans le parking: #{parking.nombrePlaces}
  p Propriétaire du parking: #{parking.userUsername}
  
  a.nav-link(href="/vehicules/create" class={active: currentUrl === "/vehicules/create/new"}) 
    button.btn.btn-outline-success(type='button') Faire une réservation?
  p OU
  a.nav-link(href="/locations" class={active: currentUrl === "/locations"}) 
    button.btn.btn-outline-success(type='button') Faire une location?