extends layout

block content
  h1= nombrePlaces
  form(action="/parkings/"+parking.id, method="post")
    .mb-3
      label.form-label(for="nombrePlacesInput") Nombre de places:
      input#nombrePlacesInput.form-control(type="text", name="nombrePlaces", value=parking.nombrePlaces)
    .mb-3
      button.btn.btn-primary(type="submit") Save
      | &nbsp;
      a.btn.btn-outline-danger(href="/parkings/"+parking.id) Cancel