extends layout

block content

  if user
    .menu-bar
      ul
        li.active
          a(href='#')
            i.fa.fa-home
            |  Accueil
        li
          a(href='')
            i.fa.fa-ticket
            |  Reserver un parking
          .sub-menu-1
            ul
              li.hover-me
                a(href='')
                | Profil
                i.fa.fa-angle-right
                .sub-menu-2
                  ul
                    li
                      a(href='/account') Profil
                    li
                      a(href='') Mes reservations
                    li
                      a(href='') Mes parkings
                    li
                      a(href='') Dashboard
              li
                a(href='') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/publications')
            i.fa.fa-newspaper-o
            |  Publications
        li
          a(href='')
            i.fa.fa-save
            |  Enregistrer son parking
        li
          a(href='')
            i.fa.fa-user
            |  #{user.username}
          .sub-menu-1
            ul
              li
                a(href='/account') Profil
              li
                a(href='') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/logout')
            i.fa.fa-sign-out
            |  Se d&eacute;connecter

  h1 place
  form(action="/places/create" method="post")
    //- .mb-3
    //-   label.form-label(for="parkingIdInput") Parking
    //-   input#parkingIdInput.form-control(type="number", name="parkingId" value=parking.id)
    //- .mb-3
    //-   label.form-label(for="typeVehiculeParkerInput") Type de Vehicule à parker
    //-   input#typeVehiculeParkerInput.form-control(type="text", name="typeVehiculeParker", value=place.typeVehiculeParker)
    .mb-3
      label.form-label(for="descriptionInput") Description
      input#descriptionInput.form-control(type="text", name="description")
    .mb-3
      label.form-label(for="dimensionInput") dimension
      input#dimensionInput.form-control(type="text", name="dimension")
    .mb-3
      button.btn.btn-primary(type="submit") Save
      | &nbsp;
      a.btn.btn-outline-danger(href="/places") Cancel

