extends layout

block content

  body(style='background-color:powderblue;')
    center()
      h1= title

      p ID du parking: #{place.parking.id}
      p Description de la place: #{place.description}
      p Dimension de la place: #{place.dimension}