extends layout

block content

  if user 
     .menu-bar
      ul
        li
          a(href="/adresses/create" class={active: currentUrl === "/adresses/create/new"}) 
            i.fa.fa-save
            |  Enregistrer son parking
        li
          a(href="/parkings" class={active: currentUrl === "/parkings"}) 
            i.fa.fa-ticket
            |  Faire une reservation
        li
           a(href="/places" class={active: currentUrl === "/places"})
            i.fa.fa-ticket
            |  Faire une location
        li
          a(href='/publications')
            i.fa.fa-newspaper-o
            |  Publications
        li.active
          a(href='')
            i.fa.fa-user
            |  #{user.username}
          .sub-menu-1
            ul
              li
                a(href='/account') Profil
              li
                a(href='/mesReservations') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/logout')
            i.fa.fa-sign-out
            |  Se d&eacute;connecter

  h1= name
    
  if user.can("createRole")
  .mb-3
      a.nav-link(href="/roles/create" class={active: currentUrl === "/roles/create"}) Créer un nouveau role

  table.table
    thead
      tr
        th(scope="col") Name
        th(scope="col") &nbsp;
    tbodyroles
      each role in roles
        tr
          td= role.name
          td
            if user.can("deleteRole")
              a.btn.btn-sm.btn-outline-danger(href=`${role.url}/delete`, data-toggle="tooltip", title="Delete")
                svg.bi.bi-trash(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                  path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
                  path(fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')
  script.
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'))
    tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })