extends layout 

block content 
  body(style='background-color:powderblue;')
    center()
      h1 Mise à jour du véhicule
      form(action="/roles/"+role.id, method="post")
        .mb-3
          label.form-label(for="nomInput") Modifier le nom:
          input#nomInput.form-control(type="text", name="nom", value=role.nom )
        .mb-3
          button.btn.btn-primary(type="submit") Save
          | &nbsp;
          a.btn.btn-outline-danger(href="/roles/"+role.id) Cancel