extends layout 

block content 
  body(style='background-color:powderblue;')
    center()
      h1 Mise à jour du véhicule
      form(action="/vehicules/"+vehicule.id, method="post")
        .mb-3
          label.form-label(for="numero_immatriculationInput") Modifier le numéro d'immatriculation:
          input#numero_immatriculationInput.form-control(type="text", name="numero_immatriculation", value=vehicule.numero_immatriculation )
        .mb-3
          button.btn.btn-primary(type="submit") Save
          | &nbsp;
          a.btn.btn-outline-danger(href="/vehicules/"+vehicule.id) Cancel